*.png
!**/data_overview.png
!**/nwb_overview.png
*.svg
*.pkl
*.npy
__pycache__/
*/__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
movie_wrapper/checkout_db.ipynb
movie_wrapper/checkout_wrapper.ipynb
.devcontainer/*
lightning_logs/*
*.env
__pycache__/*
**/__pycache__/
*.py[cod]
scripts/
lightning_logs/
.devcontainer/
