*.png
!**/data_overview.png
!**/nwb_overview.png
!**/cv.png
*.svg
!**/annotations.svg
!**/labels_indoor_new.svg
!**/labels_outdoor_new.svg
*.pkl
*.npy
__pycache__/
*/__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
movie_wrapper/checkout_db.ipynb
movie_wrapper/checkout_wrapper.ipynb
.devcontainer/*
lightning_logs/*
*.env
__pycache__/*
**/__pycache__/
*.py[cod]
scripts/
lightning_logs/
.devcontainer/

paradigm_code/modified_ffmpeg/*